

.container{
  padding: 60px 30px;

}

.form-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.panel {
 // height:500px;
 /* position: absolute;
  overflow: auto;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 30px;*/
}


.details{
  float: right;
  width: 200px;
  height: 400px;
  border: 1px solid #555;
}

*{
  outline: 1px solid red;
}


tbody{
  height: 100px;
  overflow: auto;
  position: absolute;
  top: 36px;

}